* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  @keyframes slide-in {
	from {
	  transform: translateX(-100%);
	}
	to {
	  transform: translateX(0);
	}
  }
  
  body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	height: 100vh;
  }
  
  body.transition-bg {
	transition: background-image 1.0s ease-in-out;
  }
  
  .animate-on-load {
	animation-name: slide-in;
	animation-duration: 1s;
	animation-timing-function: ease-out;
  }
  
  .container {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: medium;
	opacity: 0.5;
	background-color: rgba(255, 255, 255, 0.5);
	transition: opacity 1s ease-in-out;
	animation-name: slide-in;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	max-width: 80vw;
	margin: 0 auto;
	padding: 5vh 5vw 10vh 5vw;
	border-radius: 2vh;
	box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.2);
  }
  
  .container.active {
	opacity: 1;
  }
  
  h1 {
	text-align: center;
	margin-bottom: 5vh;
  }
  
  .search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vh;
  }
  
  #search-box {
	flex-grow: 1;
	padding: 0.75vw;
	border: medium;
	margin-right: 1vw;
	background-color: aliceblue;
	border-radius: 1vw;
  }
  
  #search-button {
	padding: 0.5vw;
	border: none;
	background-color: #0070e8;
	color: #f0eded;
	border-radius: 1vw 1vh;
	cursor: pointer;
  }
  
  #search-button:hover {
	background-color: #0062cc;
  }
  
  #weather-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vh;
	border-radius: 10vw;
	background-color: #fffcfc;
	margin-top: 2vh;
  }
  
  .light {
	font-weight: lighter;
  }
  
  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }
  
  /* Media query for mobile screens */
  @media (max-width: 767px) {
	body {
	  height: auto;
	}
  
	.container {
	  max-width: 90vw;
	  width: 90%;
	  padding: 3vh 3vw 6vh 3vw;
	}
  
	#search-box {
	  padding: 3vh;
	  margin-right: 2vh;
	  border-radius: 2vh;
	}
  
	#search-button {
	  padding: 2vh;
	  border-radius: 2vh;
	}
  
	#weather-info {
	  padding: 4vh;
	  margin-top: 3vh;
	}
  }
  